@import "reset.css";
@import "global.css";

#top {
	background-color: #6e6e6e;
	color: #dfdfdf;
	border-bottom: #dfdfdf solid 1px;
	font-size: 1.6em;
	padding: 0.4em 1em 0.3em 0.625em;
	margin-bottom: 0.5em;
}

#page {
	margin: 0 1em;
}

.b-text {
	font-size: 1.4em;
}

.b-list__nobullet {
	list-style: none;
}

.b-list__horizontal li {
	display: inline;
}

/* layout */
#connections {
	width: 20%;
	float: left;
}
#db_tree {
	margin-top: 1em;
	clear: left;
	width: 20%;
	float: left;
	border-right: #dfdfdf solid 1px;
	overflow: hidden;
	text-overflow: ellipsis;
}

#content, #server_menu {
	margin-left: 20%;
}

.b-db {
	margin-bottom: 1em;
}

.b-db__dbname {
	background: url(/media/img/database.png) left center no-repeat;
	padding-left: 18px;
}

.b-schema__name {
	background: url(/media/img/database-small.png) left center no-repeat;
	margin-left: 16px;
	padding-left: 18px;
}

.b-table__name {
	background: url(/media/img/table.png) left center no-repeat;
	margin-left: 34px;
	padding-left: 18px;
}