@import "reset.css";
@import "global.css";

#top {
	background-color: #6e6e6e;
	color: #dfdfdf;
	border-bottom: #dfdfdf solid 1px;
	font-size: 1.6em;
	padding: 0.4em 1em 0.3em 0.625em;
	margin-bottom: 0.5em;
}

#page {
	margin: 0 1em;
}

.b-text {
	font-size: 1.4em;
}

.b-list__nobullet {
	list-style: none;
}

.b-list__horizontal li {
	display: inline;
}

/* layout */
#sidebar {
	border-right: #dfdfdf solid 1px;
	width: 20%;
	float: left;
}

#connections {
}

.db_tree {
	margin-top: 1em;
	white-space: nowrap;
	overflow: hidden;
}

#content, #server_menu {
	margin-left: 21%;
}

.b-connection {
	background: url(/media/img/gear.png) left center no-repeat;
	padding-left: 18px;
}

.b-db {
	margin-bottom: 1em;
}

.b-db__dbname {
	background: url(/media/img/database.png) 16px center no-repeat;
}
.b-db__dbname a,
.b-schema__name a,
.b-table__name a {
	padding-left: 34px;
	line-height: 1.4em;
}

.b-schemas,
.b-tables {
	margin-left: 16px;
}

.b-schema__name {
	background: url(/media/img/database-small.png) 16px no-repeat;
}

.b-table__name {
	background: url(/media/img/table.png) 16px bottom no-repeat;
}

.b-chevron {
	background: url("/media/img/chevron-small.png") left center no-repeat;
}

.b-chevron__expand {
	background: url("/media/img/chevron-small-expand.png") left center no-repeat;
}

#table_view_menu {
	font-size: 1.2em;
	margin: 0.5em 0em;
}

#table_view_menu a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	border: solid 1px #6e6e6e;
	padding: 0.2em 1em;
}

#table_view_menu .m-tab__selected,
#table_view_menu a:hover {
	background: #6e6e6e;
	color: white;
}

.b-title__content {
	font-weight: bold;
	font-size: 2em;
	margin: 1em 0 0.6em 0;
}

/*
 * Breadcrumbs
 */
#table_breadcrumbs {
	margin: 1em 0;
	border-bottom: 1px #dfdfdf solid;
}

.m-link__breadcrumbs {
	text-decoration: none;
	padding-right: 0.5em;
	font-size: 1.6em;
}
	a:hover.m-link__breadcrumbs {
		text-decoration: underline;
	}

.m-link__dbname,
.m-link__schema,
.m-link__table {
	padding-left: 16px;
}

.m-link__dbname {
	background: url(/media/img/database.png) left 80% no-repeat;
}

.m-link__schema {
	background: url(/media/img/database-small.png) left 80% no-repeat;
}

.m-link__table {
	background: url(/media/img/table.png) left 80% no-repeat;
}

/*
 * Tables
 */

.b-table__allwidth {
	width: 100%;
}

.b-field {
	font-size: 1.4em;
}

.m-field__center {
	text-align: center !important;
}

.b-field td, .b-field th {
	padding: 0.2em 1em 0.2em 0.4em;
	text-align: left;
	border: #dfdfdf 1px solid;
}

.b-table_header:hover {
	background-color: white !important;
}

.m-row__odd {
	background-color: #f2f2f2;
}

.m-table__hover_highlight tr:hover {
	background-color: #ffe4c4;
}

.w__10 { width: 10%; }
.w__20 { width: 20%; }
.w__30 { width: 30%; }
.w__40 { width: 40%; }
.w__50 { width: 50%; }