<div id="table_structure">
	<h2 class="b-title__content">%(table)s <span class="b-small">structure</span></h2>
	<table>
		<colgroup>
			<col class="w__10" />
			<col class="w__20" />
			<col class="w__10" />
			<col class="w__10" />
			<col class="w__40" />
		</colgroup>
		<thead>
			<tr class="b-field">
				<th>Name</th>
				<th>Type</th>
				<th>Length</th>
				<th>Nullable</th>
				<th>Default</th>
			</tr>
		</thead>
		<tbody>
			%(structure)s
		</tbody>
	</table>
</div>