<!DOCTYPE html>

<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link type="text/css" rel="stylesheet" href="/media/css/style.css">
	<script type="text/javascript" src="/media/js/jquery.js"></script>
	<script type="text/javascript" src="/media/js/jquery.tmpl.js"></script>
	<script type="text/javascript" src="/media/js/jquery.plugins.js"></script>
	<script type="text/javascript" src="/media/js/link.handler.js"></script>

	<script type="text/javascript">
		jQuery(function($){
			$("#content").ajaxComplete(function(event){
				$("#table_data").addClass("m-table__hover_highlight").find("tr:odd").addClass("m-row__odd");
			});

			$.ajax('init', {
				'async': false,
				'dataType': 'json',
				'error': function(jqXHR, textStatus, errorThrown) { alert(errorThrown); },
				'success': function(data, textStatus, jqXHR) {
					$('#softwareName').tmpl(data).appendTo('#softwareInfo');
				}
			});
		})
	</script>

	{% raw %}
	<script id="softwareName" type="text/x-jquery-tmpl">
		<h1>${name} ${version}</h1>
	</script>

	<script id="connectionItem" type="text/x-jquery-tmpl">
		<div class="connectionItem">
			<div class="connectionTitle">
				<a class="connectionLink" href="${$item.proto}://${user}@${host}{{if port != 54321}}:${port}{{/if}}">
					<span class="icon iconConnection"></span>
					<span class="link">${title}</span>
				</a>
			</div>
			<div class="connectionContent"></div>
		</div>
	</script>
	{% endraw %}

</head>

<body>

<div id="wrapper">

	<div id="header">
		<div id="softwareInfo"></div>
		<div id="nav_tabs">
			<ul class="b-list__nobullet">
				<li class="b-tab m-active-tab">
					<i class="b-maintab b-tabs-l"><!----></i>
					<i class="b-maintab b-tabs-r"><!----></i>
					<div id="nav_connection"><a href="">connect</a></div>
				</li><!--
				--><li class="b-tab">
					<i class="b-maintab b-tabs-l"><!----></i>
					<i class="b-maintab b-tabs-r"><!----></i>
					<div id="nav_database"><a href="">db</a></div>
				</li><!--
				--><li class="b-tab">
					<i class="b-maintab b-tabs-l"><!----></i>
					<i class="b-maintab b-tabs-r"><!----></i>
					<div id="nav_schema"><a href="">schema</a></div>
				</li><!--
				--><li class="b-tab">
					<i class="b-maintab b-tabs-l"><!----></i>
					<i class="b-maintab b-tabs-r"><!----></i>
					<div id="nav_table"><a href="">table</a></div>
				</li><!--
				--><li class="b-tab">
					<i class="b-maintab b-tabs-l"><!----></i>
					<i class="b-maintab b-tabs-r"><!----></i>
					<div id="nav_sql_console"><a href="">Console</a></div>
				</li>
			</ul>
		</div>
	</div>

	<div id="page">

		<div id="sidebar">
			<div class="decor-border">

				<div id="connections" class="b-text">
					<ul class="b-list__nobullet">
						{% for conn in connections %}
						<li>
							<div>
								<a class="b-connection" href="#{{ conn.name }}" rel="load">{{ conn.name }} <span class="details">({{ conn.host }}:{{ conn.port }})</span></a>
								<a href="#{{ conn.name }}" rel="edit">[edit]</a>
							</div>
							<div id="db_tree_{{ conn.name }}" class="db_tree">

							</div>
						</li>
						{% endfor %}
					</ul>
				</div>

			</div>
		</div>

		<div id="content">
			<div id="server_menu" class="b-text">
				<ul class="b-list__nobullet b-list__horizontal">
					<li><a href="#SQLConsole" rel="">SQL Console</a></li>
					<li><a href="#Debug" rel="">Debug</a></li>
					<li><a href="#" rel=""></a></li>
				</ul>
			</div>
			{{ message }}
		</div>
	</div>

</div>

</body>
</html>
