<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link type="text/css" rel="stylesheet" href="/media/css/style.css">
	<script type="text/javascript" src="/media/js/jquery.js"></script>
	<script type="text/javascript" src="/media/js/jquery.plugins.js"></script>
	<script type="text/javascript" src="/media/js/link.handler.js"></script>

	
</head>

<body>

<div id="top">
	<h1>%(software_name)s %(software_version)s</h1>
</div>

<div id="page">

	<div id="connections" class="b-text">
		<span class="title">Connections:</span>
		<ul class="b-list__nobullet">
			%(connections)s
		</ul>
	</div>
	<div id="db_tree" class="b-text">
		
	</div>

	<div id="server_menu" class="b-text">
		<ul class="b-list__nobullet b-list__horizontal">
			<li><a href="#SQLConsole" rel="">SQL Console</a></li>
			<li><a href="#Debug" rel="">Debug</a></li>
			<li><a href="#" rel=""></a></li>
		</ul>
	</div>
	<div id="content">
		%(message)s
	</div>
</div>


</body>
</html>
