{% block navigation %}

<div id="table_view">
	<ul id="table_breadcrumbs" class="b-list__nobullet b-list__horizontal">
		<li><span class="b-link m-link__breadcrumbs">{{ connection.user }}@{{ connection.host}}</span></li>
		<li><a href="" class="b-link m-link__breadcrumbs m-link__dbname">{{ table_info.dbname }}</a></li>
		<li><a href="" class="b-link m-link__breadcrumbs m-link__schema">{{ table_info.schema }}</a></li>
		<li><a href="" class="b-link m-link__breadcrumbs m-link__table">{{ table_info.table }}</a></li>
	</ul>

	<ul id="table_view_menu" class="b-list__nobullet b-list__horizontal">
		<li><a href="#structure" rel="current_table">Structure</a></li><!--
		--><li><a href="#data" rel="current_table">Data</a></li>
	</ul>

	{% block content %}
	{% endblock %}
</div>

{% endblock %}