{% extends "table.page.html" %}

{% block content %}
<table class="b-table__allwidth" id="table_data">
	<tr class="b-field b-table_header">
		<th></th>
		{% for field in table.header %}
		<th>
			{{ field[0] }}
			<br>
			{{ types[field[1]] }}
		</th>
		{% endfor %}
	</tr>

	{% for row in table.body %}
	<tr class="b-field">
		<td class="m-field__center">
			<input type="checkbox" />
		</td>
		{% for field in row %}
		<td>
			{{ field }}
		</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>
{% endblock %}
